<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleep Tracker History</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<h2>Enter A New Sleep Entry</h2>
<div class="container">
<div class=".left">
    <form action="/sleep/createSleepEntry" method='POST'>
        <h4>Did I Have Trouble Falling Asleep?</h4>
        <div>
            <input type="radio" name="troubleFalling" value="Yes"/>
            <label for="choice1">Yes</label>
        
            <input type="radio"  name="troubleFalling" value="No"/>
            <label for="choice2">No</label>
        </div>
        <h4>Time I Went To Sleep?</h4>
        <input id="st" type="datetime-local" placeholder="Sleep Time" name='sleepTime'>
        <h4>Time I Woke Up?</h4>
        <input id="aw" type="datetime-local" placeholder="Wake Time" name='wakeTime'>
        <h4>Mood When I Woke Up</h4>
        <input type="text" placeholder="Mood(s)" name='moodWhenAwake'>
        <input type="submit">
    </form>
</div>
<div class=".right">
    <h2 class="headerTwo">History</h2>

    <table class="table">
        <tr>
            <th>Trouble Falling</th>
            <th>Sleep Time</th>
            <th>Wake Time</th>
            <th>Total Time Slept</th>
            <th>Mood When Awake</th>
        </tr>
        <ul class="list"></ul>
            <% sleeps.forEach( el => { %>
        <tr>
            <td class='sleepItem'><%= el.troubleFalling %></td>
            <td class='sleepItem'>
                <% var date = new Date() %>
                <p>Date: <%= el.sleepTime.getDate() + '/' + (el.sleepTime.getMonth() + 1) + '/' + el.sleepTime.getFullYear() %></p>
                <p>Time: <%= el.sleepTime.getHours() + ':' + el.sleepTime.getMinutes() %></p>
            </td>
            <td class='sleepItem'>                
                <% var date = new Date() %>
                <p>Date: <%= el.wakeTime.getDate() + '/' + (el.wakeTime.getMonth() + 1) + '/' + el.wakeTime.getFullYear() %></p>
                <p>Time: <%= el.wakeTime.getHours() + ':' + el.wakeTime.getMinutes() %></p>
            </td>
            <td class='hoursSlept'><% var start = new Date(el.sleepTime) %>
                <% var end = new Date(el.wakeTime) %>
                <% var difference = end - start %>
                <% var minutes = difference / 60000 %>
                <% var hours = Math.floor(minutes / 60) %>
                <% minutes = minutes % 60 %>
                <p><%= hours %> hours and <%= minutes %> minutes</p>
            <td class='sleepItem'><%= el.moodWhenAwake %></td>
            <td><span class='del'> Delete </span></td>
            <% }) %>  
        </tr>
        </ul>
    </table>
</div>
</div>

    <script src="js/main.js"></script>
</body>
</html>